{% extends 'layout.html.twig' %}

{% block tips %}

<h1 class="text-center text-secondary pt-5 display-1 mb-5">Nos solutions pour sauver votre planète</h1>

	<section class="container mb-5">
		<div class="row">
			<div class="card m-3 shadow-sm p-0 border-card bg-card" style="width: 18rem;">
				<img src="/assets/images/Transport.webp" class="card-img-top h-50" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center color-text my-3">Transports en commun</h5>
					<p class="card-text color-text my-4">Conseil : Utiliser les transports en commun permet de réduire considérablement les émissions de co2.</p>
					<div class="modal fade" id="TransportModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content border-card bg-card">
								<div class="modal-header border-card-bottom ">
									<h5 class="modal-title text-secondary" id="exampleModalToggleLabel">Prendre les transports en commun</h5>
								</div>
								<div class="modal-body border-0">
									<img src="/assets/images/Transport.webp" class="card-img-top" alt="...">
									<p class="my-5 text-secondary">Conseil : Utiliser les transports en commun permet de réduire considérablement les émissions de co2.</p>
								</div>
								<div class="modal-footer border-0">
									<button type="button" class="btn btn-color" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn-color" data-bs-toggle="modal" href="#TransportModal" role="button">En savoir plus !</a>
				</div>
			</div>
			<div class="card m-3 shadow-sm p-0 border-card bg-card" style="width: 18rem;">
				<img src="/assets/images/Bycicle.jpg" class="card-img-top h-50" alt="...">
				<div class="card-body">
					<h5 class="card-title color-text text-center color-text my-3">Marcher / Faire du vélo</h5>
					<p class="card-text my-4 color-text color-text">Conseil : Dés que possibe essayer de prendre votre vélo ou de marcher.</p>
					<div class="modal fade" id="marcheModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content border-card bg-card">
								<div class="modal-header border-card-bottom ">
									<h5 class="modal-title text-secondary" id="exampleModalToggleLabel">Marcher / Faire du vélo</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body border-0">
									<img src="/assets/images/Bycicle.jpg" class="card-img-top" alt="...">
									<p class="my-5 text-secondary">Conseil : Dés que possibe essayer de prendre votre vélo ou de marcher, cela permet de réduire votre émission de co2 tout en étant bénéfique pour votre santé.</p>
								</div>
								<div class="modal-footer border-0">
									<button type="button" class="btn btn-color" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn btn-color" data-bs-toggle="modal" href="#marcheModal" role="button">En savoir plus !</a>
				</div>
			</div>
						<div class="card m-3 shadow-sm p-0 border-card bg-card" style="width: 18rem;">
				<img src="/assets/images/reparation-ordinateur-portable-nantes.png" class="card-img-top h-50" alt="...">
				<div class="card-body">
					<h5 class="card-title color-text text-center color-text my-3">Réparer / Recycler</h5>
					<p class="card-text my-4 color-text color-text">Conseil : ne jeter plus vos objets qui ne fonctionne plus, essayer plutot de les réparer.</p>
					<div class="modal fade" id="BycicleModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content border-card bg-card">
								<div class="modal-header border-card-bottom">
									<h5 class="modal-title text-secondary" id="exampleModalToggleLabel">Aller au travail a velo</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body border-0">
									<img src="/assets/images/reparation-ordinateur-portable-nantes.png" class="card-img-top" alt="...">
									<p class="my-5 text-secondary">Conseil : ne jeter plus vos objets qui ne fonctionne plus, essayer plutot de les réparer ou de les faire recycler pas des organismes spécialisés.</p>
								</div>
								<div class="modal-footer border-0">
									<button type="button" class="btn btn-color" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn btn-color" data-bs-toggle="modal" href="#BycicleModal" role="button">En savoir plus !</a>
				</div>
			</div>	
			<div class="card m-3 shadow-sm p-0 border-card bg-card" style="width: 18rem;">
				<img src="/assets/images/CONSOMMER-MOINS-D_ÉNERGIE.jpg" class="card-img-top h-50" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center color-text my-3 text-secondary">Réduire votre consommation</h5>
					<p class="card-text color-text my-4 text-secondary">Conseil : pour conserver la planète il faut réduire notre consommation.</p>
					<div class="modal fade" id="covoiturageModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content border-card bg-card">
								<div class="modal-header border-card-bottom ">
									<h5 class="modal-title color-text " id="exampleModalToggleLabel">Faire de covoiturage</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body border-0">
									<img src="/assets/images/CONSOMMER-MOINS-D_ÉNERGIE.jpg" class="card-img-top" alt="...">
									<p class="my-5 text-secondary">Conseil : pour conserver la planète il faut réduire notre consommation, pour cela vous pouvez privilégier l'achat d'occasion et éviter le gaspillage.</p>
								</div>
								<div class="modal-footer border-0">
									<button type="button" class="btn btn-color" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn-color" data-bs-toggle="modal" href="#covoiturageModal" role="button">En savoir plus !</a>
				</div>
			</div>
		</div>
	</section><br><br>


{% endblock %}
