{% extends 'layout.html.twig' %}

{% block tips %}
	<section class="container">
		<div class="row">
			<div class="card m-3 shadow-sm p-0 border-card bg-card" style="width: 18rem;">
				<img src="/assets/images/Transport.webp" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center color-text my-3">Transports en commun</h5>
					<p class="card-text color-text my-4">Conseil : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<div class="modal fade" id="TransportModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content border-card bg-card">
								<div class="modal-header border-card-bottom ">
									<h5 class="modal-title" id="exampleModalToggleLabel">Prendre les transports en commun</h5>
								</div>
								<div class="modal-body border-0">
									<img src="/assets/images/Transport.webp" class="card-img-top" alt="...">
									<p class="my-5">Conseil : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								</div>
								<div class="modal-footer border-0">
									<button type="button" class="btn btn-color" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn-color" data-bs-toggle="modal" href="#TransportModal" role="button">En savoir plus !</a>
				</div>
			</div>
			<div class="card m-3 shadow-sm p-0 border-card bg-card" style="width: 18rem;">
				<img src="/assets/images/marcher.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title color-text text-center color-text my-3">Marcher</h5>
					<p class="card-text my-4 color-text color-text">Conseil : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<div class="modal fade" id="marcheModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content border-card bg-card">
								<div class="modal-header border-card-bottom ">
									<h5 class="modal-title" id="exampleModalToggleLabel">Marcher</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body border-0">
									<img src="/assets/images/marcher.jpg" class="card-img-top" alt="...">
									<p class="my-5">Conseil : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								</div>
								<div class="modal-footer border-0">
									<button type="button" class="btn btn-color" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn btn-color" data-bs-toggle="modal" href="#marcheModal" role="button">En savoir plus !</a>
				</div>
			</div>
						<div class="card m-3 shadow-sm p-0 border-card bg-card" style="width: 18rem;">
				<img src="/assets/images/Bycicle.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title color-text text-center color-text my-3">Aller au travail a velo</h5>
					<p class="card-text my-4 color-text color-text">Conseil : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<div class="modal fade" id="BycicleModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content border-card bg-card">
								<div class="modal-header border-card-bottom">
									<h5 class="modal-title " id="exampleModalToggleLabel">Aller au travail a velo</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body border-0">
									<img src="/assets/images/Bycicle.jpg" class="card-img-top" alt="...">
									<p class="my-5">Conseil : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								</div>
								<div class="modal-footer border-0">
									<button type="button" class="btn btn-color" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn btn-color" data-bs-toggle="modal" href="#BycicleModal" role="button">En savoir plus !</a>
				</div>
			</div>	
			<div class="card m-3 shadow-sm p-0 border-card bg-card" style="width: 18rem;">
				<img src="/assets/images/covoiturage.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center color-text my-3">Faire du covoiturage</h5>
					<p class="card-text color-text my-4">Conseil : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<div class="modal fade" id="covoiturageModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content border-card bg-card">
								<div class="modal-header border-card-bottom ">
									<h5 class="modal-title color-text " id="exampleModalToggleLabel">Faire de covoiturage</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body border-0">
									<img src="/assets/images/covoiturage.jpg" class="card-img-top" alt="...">
									<p class="my-5">Conseil : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								</div>
								<div class="modal-footer border-0">
									<button type="button" class="btn btn-color" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
					<a class="btn btn-color" data-bs-toggle="modal" href="#covoiturageModal" role="button">En savoir plus !</a>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
