 <div class="panel d-flex flex-column align-items-center mt-3" id="quizz">
        <div class="result text-center">
  
        </div>
        <div class="question-container text-secondary mb-3" id="question">
            Question goes here.
        </div>
        <div class="option-container mb-3">
            <button class="option btn" onclick="" id="op1" >option1</button>
      
            <button class="option btn" id="op2" >option2</button>
      
            <button class="option btn" id="op3">option3</button>
      
            <button class="option btn" id="op4">option4</button>
        </div>
        <div class="navigation">
            <button id="submit" class="submit btn bg-light btn-lg mx-1">Soumettre</button>
            <button id="next" class="next btn bg-secondary btn-lg mx-1">Suivant</button>
        </div>
    </div>
