 <div class="panel d-flex flex-column align-items-center mt-3">
 <div class="quiz-title bg-light text-center w-100 mb-5"><h3 class="quiz-title">Interrogation surprise</h3></div>
        <div class="result-div">
        <div class="result text-center mx-5 mb-4"></div>
        </div>
        <div class="question-container text-secondary mb-3" id="question">
            Question goes here.
        </div>
        <div class="option-container mb-3">
            <button class="option btn" onclick="" id="op1" >option1</button>
      
            <button class="option btn" id="op2" >option2</button>
      
            <button class="option btn" id="op3">option3</button>
      
            <button class="option btn" id="op4">option4</button>
        </div>
        <div class="navigation">
            <button id="submit" class="submit btn bg-light btn-lg mx-1 mb-5">Soumettre</button>
            <button id="next" class="next btn bg-secondary btn-lg mx-1 mb-5">Suivant</button>
        </div>
        <div class="separate-quiz bg-light w-100 mt-4"></div>
    </div>
