{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
{% block content %}
	<h1>Evil tesla !</h1>
{% endblock %}

{% block map %}
	{% include 'Components/_map.html.twig' %}
{% endblock %}

	<div class="container-fluid">
		<header>
			<div class="car d-flex align-items-center flex-column justify-content-center">
				<div class="title-back">
					<h1 class="title title-car mx-5 text-center text-secondary">Les voitures électriques</h1>
				</div>
				<div>
					<h2 class="subtitle-car">Que savez-vous vraiment?</h2>
				</div>
			</div>
		</header>
	</div>


{% block moral %}
	{% include 'Citation/_citation.html.twig' %}
	{% include 'CreationVehicule/_creation.html.twig' %}
	{% include 'Moral/_moral.html.twig' %}

{% endblock %}

{% block tips %}{% include "Tips/index.html.twig" %}{% endblock %}