{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
{% endblock %}

{% block moral %}
    {% include 'Moral/_moral.html.twig' %}
    {% include 'Citation/_citation.html.twig' %}
{% endblock %}
