{% block creation %}
<h1 class="container d-flex justify-content-center text-secondary mb-5 display-1">L'impact de la voiture électrique</h1>
	<section class="container d-flex justify-content-between">
		<div class="card color-text bg-card border-card" style="width: 23rem;">
			<img src="/assets/images/Lithium-removebg-preview.png" class="card-img-top mt-2" alt="Lithium">
			<div class="card-body d-flex align-items-end">
				<p class="card-text border-top mt-4"><br><br><br>La voiture électrique reste actuellement très polluante sur le plan de la fabrication, puisque la fabrication de la batterie rejette à elle seule 3,15 tonnes de CO2, 
								portant le total de cette fabrication à l'équivalent de 6,21 tonnes de CO2 pour la seule construction de la voiture. Un bilan nettement négatif face à une voiture thermique, 
								qui ne "coûte" que 3,3 tonnes de CO2 à fabriquer en pièces détachées.</p>
			</div>
		</div>
		<div class="card color-text bg-card border-card " style="width: 23rem;">
			<img src="/assets/images/tesla-model-x-removebg-preview.png" class="card-img-top mt-2" alt="Chassis voiture">
			<div class="card-body d-flex align-items-end">
				<p class="card-text border-top mt-4"><br><br>L’extraction du cuivre contribue au changement climatique par le biais d’émissions de gaz à effet de serre à la fois indirectes et directes. 
								L’exploitation minière, la transformation ainsi que le transport nécessitent l’utilisation d’électricité et de diesel (ou d’autres combustibles liquides). 
								Les mines utilisent également souvent des supports de broyage en acier qui produisent des émissions de GES pendant le processus de fabrication.</p>
			</div>
		</div>
		<div class="card color-text bg-card border-card " style="width: 23rem;">
			<img src="/assets/images/Battery_Recycling_Market_2020-removebg-preview.png" class="card-img-top" alt="Recyclage">
			<div class="card-body d-flex align-items-end">
				<p class="card-text border-top"><br><br>La consommation mondiale de lithium et de cobalt augmente sensiblement plus vite que la production en raison de forte demande en batteries lithium-ion pour l’industrie automobile. 
								On avance souvent que le recyclage de vieilles batteries va permettre de combler une partie de la différence, mais le recyclage demeure une procédure compliquée, énergivore et plus efficace pour récupérer le cobalt que le lithium. 
								De plus, la capacité mondiale reste très limitée.</p>
			</div>
		</div>
	</section>
{% endblock %}
