{% block moral %}
<p class="moral d-flex justify-content-center mt-5">"Arrêtons les progrès écologiquement inutiles, recyclons les idées d'avant"</p>
<p class="moral d-flex justify-content-center">Slogan de la Thib</p>
{% endblock %}