{% block moral %}
<p class="moral d-flex justify-content-center">"Arrêttons les progrés égologiquement inutiles, recyclons les idées d'avant"</p>
<p class="moral d-flex justify-content-center">Slogan de la Thib</p>
{% endblock %}