{% block citation %}
	<div>
		<p class="citation container d-flex justify-content-center mt-5">{{ citation.citation }}<br></p>
		<p class="author container text-danger mb-5">{{ citation.author }}</p>
	</div>
{% endblock %}
