{% block citation1 %}
    <div>
		<p class="citation container d-flex justify-content-center mt-5">{{ citation1.citation }}<br></p>
		<p class="author container text-danger mb-5">{{ citation1.author }}</p>
	</div>
{% endblock %}